<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>LET'S GO DOGGY DOGGY🐶🐾🌭</h1>

    <button onclick="location.href='/pet/5'">특정 강아지 목록 보기</button>
    <button onclick="location.href='/pet/list'">전체 강아지 목록 보기</button>
    <button onclick="location.href='/pet/querymethod'">쿼리 메소드 테스트</button>
    <button onclick="location.href='/pet/regist'">강아지 등록하기</button>
    <button onclick="location.href='/pet/modify'">강아지 수정하기</button>
    <button onclick="location.href='/pet/delete'">강아지 삭제하기</button>
</body>
</html>