<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>[[${petWeight}]]kg을 초과하는 강아지들</h1>

    <table>
        <tr>
            <th>강아지 번호</th>
            <th>강아지 이름</th>
            <th>강아지 생일</th>
            <th>강아지 성별</th>
            <th>강아지 몸무게</th>
            <th>강아지 중성화 여부</th>
            <th>강아지 소개</th>
            <th>강아지 </th>
            <th>주인 번호</th>
        </tr>

        <tr th:each="pet : ${petList}">
            <th th:text="${pet.petCode}"></th>
            <th th:text="${pet.petNick}"></th>
            <th th:text="${pet.petKind}"></th>
            <th th:text="${pet.petBirth}"></th>
            <th th:text="${pet.petGender}"></th>
            <th th:text="${pet.petWeight}"></th>
            <th th:text="${pet.petNeutered}"></th>
            <th th:text="${pet.petIntroduce}"></th>
            <th th:text="${pet.refMemCode}"></th>
        </tr>
    </table>
</body>
</html>